<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="status" data-view="Alert" data-addclass-danger="isDown"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="heap_used" data-view="Meter" data-title="Heap Usage" data-min="0" data-max="1000" data-suffix="Mb"></div>
    </li>
  </ul>
</div>
